# Ignore node_modules, as dependencies are installed inside the container
node_modules

# Ignore build artifacts if you have them locally
dist
.output
.nuxt

# Ignore Docker specific files
Dockerfile
.dockerignore

# Ignore Git files
.git
.gitignore

# Ignore environment files (these should be injected, not built-in)
.env*
!/.env.example

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore logs and temporary files
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Ignore IDE/editor directories
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?